[submodule "pybibtex"]
	path = pybibtex
	url = git@github.com:silky/pybibtex.git
[submodule "pybibdesk"]
	path = pybibdesk
	url = git@github.com:silky/pybibdesk.git
[submodule "pyarxiv"]
	path = pyarxiv
	url = git@github.com:silky/pyarxiv.git
